---
import SiteWrapper from "../components/SiteWrapper.astro";
import Projects from "../components/Projects.svelte";
---

<SiteWrapper>
	<div class="w-full h-full flex flex-col items-center justify-center space-y-20">
		<img src="/dyme-logo.png" alt="dyme logo" width="200" height="200">
		<h1 class="italic text-center text-lg">The vision: a suite of open source productivity tools for every day use.</h1>
		<Projects/>
	</div>
</SiteWrapper>
