<div class="w-full h-full flex flex-col items-center justify-center space-y-20">
  <h1 class="text-xl">
    Imprint
  </h1>
  <div class="space-y-2">
    <p>Luca Müller</p>
    <p>Willi-Graf-Straße 8</p>
    <p>69190 Walldorf</p>
    <p>luca [@] cuvar [dot] dev</p>
  </div>
</div>