<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Dyme</title>
  </head>
  <body class="bg-slate-950 w-screen min-h-screen max-h-fit text-zinc-100 py-10">
    <slot />
  </body>
</html>
